html { overflow-x: hidden; }
body {font-family:"aktiv-grotesk-std",Arial,Tahoma,Serif;line-height:16px;-webkit-font-smoothing: antialiased;font-size:15px;overflow-x:hidden;}
.navbar-inverse {background-color: #296bb7;border-color: #0f4e97;}
.navbar-fixed-top {top: 0;border-width: 0 0 6px;margin:0 auto;}
.navbar-inverse .navbar-brand {color: #fff;}
.navbar-inverse .navbar-nav>li>a {color: #fff;text-transform:uppercase;font-size:12px;}
.nav>li>a {position: relative;display: block;padding-left:10px;padding-right:10px;}
.navbar-nav.navbar-right:last-child {margin-right: -15px;background:#0f4e97;padding:0 15px;}
.navbar-nav.navbar-right:last-child a {font-size:18px;text-transform:none;}
a {color:#0072bc;}
p {line-height:18px;}
h2, h3 {margin:0;color:#5a5a5a;}
h2 {font-size:24px;}
#mainContent {padding-top:156px;position:relative;}
#mainContent2 {padding-top:56px;position:relative;}
.section-header-con {text-transform:uppercase;color:#fff;padding:0 15px 0 0;}
.section-header {background:#296bb7;padding:5px 0 5px 15px;}
.padding-top-bottom-5 {padding:5px 0;}
.padding-top-bottom-30 {padding:30px 0;}
.padding-top-bottom-10 {padding:10px 0;}
.padding-top-bottom-15 {padding:15px 0;}
.padding-left-right-20 {padding:0 20px;}
.padding-top-5 {padding-top:5px;}
.padding-5-15 {padding:5px 15px;}
.padding-right-0 {padding-right:0;}
.padding-left-0 {padding-left:0;}
.padding-right-15 {padding-right:15px;}
.padding-left-15 {padding-left:15px;}
.padding-left-right-0 {padding-left:0;padding-right:0;}
.padding-6-10 {padding:6px 10px;}
.grey-border-left {border-left:1px solid #d8d8d8;}
.grey-border-bottom {border-bottom:1px solid #d8d8d8;}
.grey-border-top {border-top:1px solid #d8d8d8;}
.label {border-radius: 0;text-transform:uppercase;}
.label-news {background-color:#6e7a7f;}
.label-carreviews {background-color:#00728c;}
.label-fleetmanagement {background-color:#b50000;}
.label-blue {background-color:#296bb7;}
.margin-bottom-15 {margin-bottom:15px;}
.margin-top-bottom-15 {margin:15px 0;}
.grey-background {background:#eeeeee;}
.padding-top-15 {padding-top:15px;}
.margin-top-15 {margin-top:15px;}
.padding-left-right-15 {padding:0 15px;}
.absolute-position {position:absolute;}
.relative-position {position:relative;}
.grey-background {background:#eaeaea;}
.light-blue-background {background:#296bb7;color:#ffffff;}
.light-blue-background a {color:#ffffff;}
.blue-background {background:#0f4e97;color:#ffffff;}
.blue-background a {color:#ffffff;}
.light-blue-background h3 {color:#fff;}
.white-background {background:#ffffff;}
.padding-10 {padding:10px;}
.car-details {font-size:20px;line-height:28px;}
.car-details span {font-size:14px;line-height:18px;}
.second-con {position:relative;}
.second-con img.shadow {position:absolute;top:0;right:0;}
.padding-20 {padding:20px;}
.padding-15 {padding:15px;}
.padding-top-10 {padding-top:10px;}
.padding-top-bottom-8 {padding:8px 0;}
.btn {border-radius:0;}
.btn-darkblue {background-color: #0f4e97;border-color: #0f4e97;color:#fff;font-size:22px;}
.btn-darkblue:hover {color:#fff;text-decoration:underline;}
.btn-lightblue {background-color: #296bb7;border-color: #296bb7;color:#fff;font-size:22px;}
.btn-lightblue:hover {color:#fff;text-decoration:underline;}
.tab-content>.tab-pane {background:#ffffff;}
.nav-tabs {border-bottom:none;background:#0f4e97;margin-left:-15px;}
.nav-tabs>li>a {margin-right:0;border-radius:0;border:none;}
.nav>li>a {color:#fff;padding:9px 15px 4px 15px;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {color: #fff;background-color: #296bb7;border:none;cursor: default;}
.nav>li>a:hover, .nav>li>a:focus {text-decoration: none;background-color: #296bb7;}
.nav-tabs>li>a:hover {border-color: #296bb7;}
.nav-tabs>li {margin-bottom: 0;}
.tab-container {position:relative;}
.tab-container img.left {position:absolute;top:0;left:-25px;}
.radio {color:#0072bc;}
ul li {padding:5px 0;}
.nav-tabs > li {padding:0;}
ul.navbar-nav li {padding:10px 0;}
.m-left {float:left;width:80px;text-align:left;background: #eee !important;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,#dedede)) !important;
background: -webkit-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -moz-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -ms-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee,#dedede) !important;height:50px;border-bottom:1px solid #ccc;padding:4px 0;}
.m-center {float:left;width:100px;text-align:center;background: #eee !important;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,#dedede)) !important;
background: -webkit-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -moz-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -ms-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee,#dedede) !important;height:50px;border-bottom:1px solid #ccc;padding:4px 0;}
.m-right {float:right;width:78px;text-align:right;background: #eee !important;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,#dedede)) !important;
background: -webkit-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -moz-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -ms-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee,#dedede) !important;height:50px;border-bottom:1px solid #ccc;padding:4px 0;}
.m-left a {background: #eee !important;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,#dedede)) !important;
background: -webkit-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -moz-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -ms-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee,#dedede) !important;}
.m-right a {background: #eee !important;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,#dedede)) !important;
background: -webkit-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -moz-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -ms-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee,#dedede) !important;}
.m-center a {background: #eee !important;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,#dedede)) !important;
background: -webkit-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -moz-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -ms-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee,#dedede) !important;}
.m-left a:hover {background: #eee !important;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,#dedede)) !important;
background: -webkit-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -moz-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -ms-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee,#dedede) !important;}
.m-right a:hover {background: #eee !important;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,#dedede)) !important;
background: -webkit-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -moz-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -ms-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee,#dedede) !important;}
.m-center a:hover {background: #eee !important;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,#dedede)) !important;
background: -webkit-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -moz-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -ms-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee,#dedede) !important;}


.greenblock {background:green;}
.redblock {background:red;}
.blueblock {background:blue;}
.mobileContent {width:100%;position:relative;}
.tabletContent {width:750px;position:relative;}
.smallDesktopContent {width:970px;position:relative;}
.largeDesktopContent {width:1170px;position:relative;}
.sidr{
    position:fixed;
    top:0;
    height:100%;
    z-index:0;
    width:260px;
    left:-260px;
    overflow-x:none;
    overflow-y:auto;
    font-family:"aktiv-grotesk-std",arial,sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    background: #ccc;
    overflow: hidden;
    overflow-y: auto;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    /*-moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
   box-shadow:         inset 0 0 10px rgba(0,0,0,0.3);*/
}
.sidr .sidr-inner{padding:0 0 15px}
.sidr .sidr-inner > p {margin-left: 15px;margin-right: 15px;}
.sidr.right {left: auto;right: -260px;}
.sidr.left {left: -260px;right: auto;}
.sidr p {font-size: 15px;margin: 0 0 10px;background:#fff;margin:0;padding:10px;border-bottom:1px solid #ccc;}
.sidr p a {color: #0072bc !important;}
.sidr ul {display: block;margin: 0 0 15px;padding: 0;}
.sidr ul li {display: block;margin: 0;line-height: 40px;padding:0;border-bottom:1px solid #ccc;}
.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active {border-top: none;line-height: 40px;}
.sidr ul li:hover > a, .sidr ul li:hover > span, .sidr ul li.active > a, .sidr ul li.active > span, .sidr ul li.sidr-class-active > a, .sidr ul li.sidr-class-active > span {
    background:#fff;
}
.sidr ul li a {
    padding: 0 15px;
    display: block;
    text-decoration: none;
    color: #0072bc !important;
    background:#fff;
}
.sidr ul li a span.glyphicon {float:right;font-size:11px;line-height:36px;background:#fff;}
.sidr .m-left span.glyphicon {
background: #eee !important;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,#dedede)) !important;
background: -webkit-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -moz-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -ms-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee,#dedede) !important;
}
.sidr .m-right span.glyphicon {
background: #eee !important;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,#dedede)) !important;
background: -webkit-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -moz-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -ms-linear-gradient(top,#eee 0,#dedede 100%) !important;
background: linear-gradient(top,#eee 0,#dedede 100%) !important;
background: -o-linear-gradient(top,#eee,#dedede) !important;
}
.sidr ul.root li a {background:none;}
.sidr ul.root li a span {background:none;}
.sidr ul.root li ul li a {
}
.sidr ul li ul {
    border-bottom: none;
    margin: 0;
}
.sidr ul li ul li {
    line-height: 40px;
    font-size: 16px;
}
.sidr ul li ul li:last-child {
    border-bottom: none;
}
.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active {
    border-top: none;
    line-height: 40px;
}
.sidr ul li ul li:hover > a, .sidr ul li ul li:hover > span, .sidr ul li ul li.active > a, .sidr ul li ul li.active > span, .sidr ul li ul li.sidr-class-active > a, .sidr ul li ul li.sidr-class-active > span {
    background:#fff;
}
.sidr ul li ul li a, .sidr ul li ul li span {
    color: #0072bc;
    padding-left: 30px;
    background:#fff;
}
#sidebarmenu {background:#0f4e97;color:#fff;font-size:16px;position:fixed;top:36px;left:auto;width:100%;z-index:1111;}
#sidebarmenu a {color:#fff;}
#sidebarmenu a:hover {text-decoration:none;}
.m-left span.glyphicon {float:left !important;}
#sidr-right {border-left:1px solid #ccc;}
#sidr2 {border-left:1px solid #ccc !important;}
.account-info {line-height:36px;margin-right:10px;border-right:2px solid #0f4e97;}
.account-info ul {padding:0;margin:0;}
.account-info ul li {margin:0;padding:0 15px;float:right;list-style:none;border-left:2px solid #0f4e97;}
.account-info ul li a {color:#fff;}
#sites-con {display:none;}
#search-con {display:none;border-bottom:1px solid #000;}
#search-con input[type="text"] {color:#333;}
#search-con .btn-default {font-size:14px;color:#0072bc !important;border-radius: 0 4px 4px 0;-webkit-border-radius: 0 4px 4px 0;-moz-border-radius: 0 4px 4px 0;}
#sites-con ul {padding:0;margin:0;}
#sites-con ul li {list-style:none;padding:7px 10px;border-bottom:1px solid #000;}
#sites-con ul li a {display:block;}
.advert img,
.advert a,
.advert p,
.advert table,
.advert li { margin: 0!important;padding: 0!important;line-height: 0!important;overflow: hidden!important;height: auto!important;border:0!important;text-decoration:none!important;}
.advert div {line-height: 0;text-align:center!important; margin:0 auto!important; width: 100%;}
.mobilemenu {padding:9px 10px 13px 10px;}
#fixedTakeOver {top:56px;background:none;border-bottom:none;border-color:none;border-width:0;height:100px;z-index:1000;}
.label a {color:#fff;}
.label a:hover {color:#fff;text-decoration:underline;}
.rightsidebar {
    position:fixed;
    top:0;
    right:-260px;
    width:260px;
    height:100%;
    background:#ccc;
    border-left: 1px solid #ccc;
}
.rightsidebar p {font-size: 15px;margin: 0 0 10px;background:#fff;margin:0;padding:10px;border-bottom:1px solid #ccc;}
.rightsidebar p a {color: #0072bc !important;}


/* Small devices (mobiles, 767px and down) */
@media (max-width: 767px) {
    .section-header-con {text-transform:uppercase;color:#fff;padding:0;}
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
        right: auto;
        left:auto;
        z-index: 1030;
        width:100%;
        border-width:0 0 2px;
        margin:0 auto;
    }
    #mainContent {
    padding-top: 125px;
    position: relative;
    -webkit-box-shadow: -1px 0 1em rgba(0,0,0,0.3);box-shadow: -1px 0 1em rgba(0,0,0,0.3);z-index:999;
    }
    #mainContent2 {
    padding-top: 75px;
    position: relative;
    -webkit-box-shadow: -1px 0 1em rgba(0,0,0,0.3);box-shadow: -1px 0 1em rgba(0,0,0,0.3);z-index:999;
    }
    #fixedTakeOver {top:68px;}
    .navbar {min-height:30px;}
    #first {border-left:none;padding-left:5px;padding-right:5px;}
    #first .row {margin-left:0;margin-right:0;}
    #first .row .col-xs-4 {padding-left:0!important;}
    #second {border-left:none;padding-left:5px;padding-right:5px;}
    #second .row {margin-left:0;margin-right:0;}
    .car .col-xs-6 {padding:0;}
    .equal-blue-bg {background:#0f4e97;}
    .equal-blue-bg .padding-left-15 {padding-left:0;}
    .equal-lightblue-bg {background:#296bb7;}
    /*#wrapper {-webkit-box-shadow: -1px 0 1em rgba(0,0,0,0.3);box-shadow: -1px 0 1em rgba(0,0,0,0.3);position:relative;z-index:10;}*/
    .mobile-padding-top-left {padding:10px 0 0 10px;}
    .label-news {border-top:1px solid #6e7a7f;}
    .label-carreviews {border-top:1px solid #00728c;}
    .label-fleetmanagement {border-top:1px solid #b50000;}
    .label-blue {border-top:1px solid #296bb7;}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:979px) { 
    .nav>li>a {position: relative;display: block;padding-left:10px;padding-right:10px;}
    .navbar-nav.navbar-right:last-child {margin-right: -15px;background:#0f4e97;padding:0;}
    .navbar-nav.navbar-right:last-child a {font-size:14px;text-transform:none;}
    .navbar-inverse .navbar-nav>li>a {color: #fff;text-transform:uppercase;}
    .navbar-header {width:100%;}
    .tablet-no-padding {padding:0;}
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
        right: auto;
        left:auto;
        z-index: 1030;
        width:100%;
        border-width:0 0 2px;
        margin:0 auto;
    }
    #mainContent {
        padding-top: 175px;
        -webkit-box-shadow: -1px 0 1em rgba(0,0,0,0.3);box-shadow: -1px 0 1em rgba(0,0,0,0.3);z-index:999;
    }
    #second {border-left:1px solid #d8d8d8;border-right:1px solid #d8d8d8;}
    #mainContent2 {
        padding-top: 75px;
        position: relative;
        -webkit-box-shadow: -1px 0 1em rgba(0,0,0,0.3);box-shadow: -1px 0 1em rgba(0,0,0,0.3);z-index:999;
    }
    #fixedTakeOver {top:74px;}
    .label-news {border-top:1px solid #6e7a7f;}
    .label-carreviews {border-top:1px solid #00728c;}
    .label-fleetmanagement {border-top:1px solid #b50000;}
    .label-blue {border-top:1px solid #296bb7;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 980px) and (max-width:1199px) { 
    .nav>li>a {position: relative;display: block;padding-left:8px;padding-right:8px;}
    .navbar-nav.navbar-right:last-child {margin-right: -15px;background:#0f4e97;padding:0 5px;}
    .navbar-right li a{padding-left:10px;padding-right:10px;}
    .nav-tabs>li>a {padding: 4px 7px 4px 7px !important;font-size:13px;}
    .car-details {font-size:18px;line-height:26px;}
    .car-details span {font-size:14px;line-height:18px;}
    .blue-background .label-blue {font-size:10px;line-height:16px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
        background: #0f4e97;
        padding: 0 5px;
    }
    .nvarbar-right li>a {color:#fff;padding:5px 10px;}
    .nav-tabs>li>a {padding: 4px 7px 4px 7px !important;font-size:14px;}
}